<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.wfq.odo.dao.firstly.CustomerMapper" >
  <resultMap id="BaseResultMap" type="org.wfq.odo.entity.firstly.Customer" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_name, password
  </sql>
  <select id="getCusNameBuyId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select user_name from customer where id = #{id}
  </select>
</mapper>